
.menu-links {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 0 20px;
}

.menu-links a {
    text-decoration: none;
    color: rgb(220, 218, 214);
    font-size: 4vh;
    text-align: center;
    font-family: optima, serif;
    padding-left: 5vh;
    padding-right: 5vh
}

h3 {
    padding-top: 5vh;
    color: #4F4543;
    text-align: center;
    font-size: 5vh;
    padding-bottom: 2vh;
}
p{
    font-size: 3vh;
}

.link-list{
    font-size:4vh;
    padding-left: 3vh;
}

